div.hydra-head-loading,
div.hydra-head-alive,
div.hydra-head-dead {
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 100px;
    height: 120px;
    background-size: 100px 83px;
    background-repeat: no-repeat;
    background-position: bottom center;
}
div.hydra-head-loading label,
div.hydra-head-alive label,
div.hydra-head-dead label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
div.hydra-head-loading span,
div.hydra-head-alive span,
div.hydra-head-dead span {
    color: red;
    font-size: 16px;
    text-align: center;
    display: block;
}

div.hydra-head-loading {
    background-image: url('/img/hydra-loader.gif');
}
div.hydra-head-alive {
    background-image: url('/img/hydra-red.png');
    animation: zoomin 1s ease-in;
}
div.hydra-head-dead {
    background-image: url('/img/hydra-dead.png');
}
div.hydra-head-hidden {
    display: none;
}
@keyframes zoomin {
    0% {transform: scale(0.9);}
    60% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
